@import "../styles.scss";

body {
    background: $bg-color;
    display: flex;
    flex-direction: column;
}

::ng-deep * {
    margin: 0;
    padding: 0;

}

.header {
    width: 100%;
}

.tab-page {
    width: initial;
    background: $bg-color ;
}

::ng-deep .dx-card {
    background: $body-color;
    border: 1px solid #272A38;
    box-sizing: border-box;
    border-radius: 0px 0px 2px 2px;
    margin: 4px;
    height: 98%;

}

::ng-deep .dx-card-header {
    background: $list-color;
    padding: 5px 12px;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;

}


::ng-deep .dx-card-header-text {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: $text-color-0;
    display: flex;
    align-items: center;
}

::ng-deep .right-tab{
    margin-left: auto;
    display: flex;
    align-items: center;
}

::ng-deep .full-height-scrollable{
    padding-bottom: 40px;
}

