@import "../../../../assets/variables.scss";

:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    background: $list-color;
}

a{
    text-decoration:none
}

.container{
    height: 100px;
    display: flex;
    flex-direction:column;
}

.left-tab {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $text-color-0;

    .left-tab__title {
        height: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        padding-bottom: 24px;
        color: $text-color-0;
        font-size: 24px;
    }
}

.menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    a{
        padding: 16px;
        color: $text-color-0;
        font-size: 18px;
    }
    a:hover{
        opacity: 0.5;
    }
}